.recipe-card { width: 100%; height: auto; border: 2px solid red; border-radius: 10px; padding: 6px; }
.recipe-card:hover { box-shadow: 5px 5px; }
.recipe-card image { max-height: 400px; }
.recipe-card button:hover { font-style: italic; }