.header { height: 100px; width: 100%; background-color: white; color: grey; border-bottom: 2px solid red; }
    .header .brand-logo { font-size: 2em; }

.page { height: calc(100vh - 140px); width: 100%; overflow-x: hidden; overflow-y: auto; }

.footer { height: 40px; width: 100%; background-color: red; color: white; font-size: 0.8em; }