@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="header d-flex p-2 align-items-center gap-2" @onclick="@(() => NavigationManager.NavigateTo("./"))" role="button">
    <div class="navbar-brand"></div>
    <div class="brand-logo">Recipe Master</div>
</div>
<div class="page">
    @Body
</div>

<div class="footer d-flex align-items-center justify-content-end">
    <div>Recipe Master &copy; LexisNexis @DateTime.Today.Year</div>
</div>
