@inherits LayoutComponentBase

<div class="header d-flex p-2 align-items-center justify-content-between">
    <a href="https://risk.lexisnexis.com/" class="navbar-brand"> </a>
    <span class="brand-logo">Recipe Master</span>
    <div></div>
</div>
<div class="page">
    @Body
</div>

<div class="footer d-flex align-items-center justify-content-end">
    <div>Recipe Master &copy; LexisNexis @DateTime.Today.Year</div>
</div>